$bg-color: #e9e4d0;
$bg-color-2: #d9c09c;
$header-line-color: #1f1a17;
$accent-color: #99906e;
$btn-color: #2d2a1f;

$fast-link-color: #f8f4e5;
$fast-link-bg-color: #ded9c7;
$news-accent-color: #AEA688;

$tablet-width: 1199px;
$mobile-width: 767px;
$xs-width: 575px;
