.fast-links {
  background-color: $fast-link-bg-color;
}

.fast-links__list {
  @include dflex(wrap, row, center, stretch);
}

.fast-links__link {
  @include dflex(nowrap, column, flex-start, center);
  @include transition(background-color);
  flex-basis: calc(33.3333% - 18px);
  min-height: 217px;
  padding: 10px;
  background-repeat: no-repeat;
  background-size: auto 70px;
  background-position: center 50px;
  background-color: $fast-link-color;
  border-radius: 5px;

  &:hover,
  &:focus {
    background-color: lighten($fast-link-color, 20%);
  }
}

.fast-links__link-heading {
  @include reset;
  margin-top: 130px;
  font-size: 18px;
  line-height: 27px;
  color: #000;
  font-weight: 500;
  text-align: center;
}
