.main-menu__block {
  @include list-reset;
  @include dflex(nowrap, row, space-between, center);
}

.main-menu__submenu {
  @include list-reset;
  display: none;
}

.main-menu__item {
  &--parent {
    position: relative;
    padding-right: 20px;

    &::after {
      @include abs-center-y;
      right: 0;
      display: block;
      width: 12px;
      height: 12px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("/img/icon-menu-arrow.svg");
    }
  }
}

.main-menu__link {
  display: block;
  padding: 10px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: .1em;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.main-menu__item--parent .main-menu__link:hover ~ .main-menu__submenu,
.main-menu__item--parent .main-menu__link:focus ~ .main-menu__submenu,
.main-menu__submenu:hover,
.main-menu__submenu--open {
  @include dflex(nowrap, column, flex-start, flex-start);
  position: absolute;
  top: 100%;
  left: 0;
  width: auto;
  min-width: 300px;
  max-width: 100%;
  padding: 15px 10px;
  background-color: $bg-color-2;
  z-index: 20;
}

.main-menu__item--parent:focus-within .main-menu__submenu {
  @include dflex(nowrap, column, flex-start, flex-start);
  position: absolute;
  top: 100%;
  left: 0;
  width: auto;
  min-width: 300px;
  max-width: 100%;
  padding: 15px 10px;
  background-color: $bg-color-2;
  z-index: 20;
}

.main-menu__submenu-item {
  display: block;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.main-menu__submenu-link {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.main-menu__mobile-toggle {
  display: none;
}

.main-menu__submenu-toggle {
  display: none;
}

@media (max-width: $tablet-width) {
  .main-menu__item--parent .main-menu__link:focus ~ .main-menu__submenu,
  .main-menu__item--parent .main-menu__link:hover ~ .main-menu__submenu,
  .main-menu__submenu--open,
  .main-menu__submenu:hover {
    min-width: 240px;
  }

  .main-menu__item--parent:focus-within .main-menu__submenu {
    min-width: 240px
  }

  .main-menu__link {
    font-size: 11px;
    line-height: 13px;
  }

  .main-menu__submenu-link {
    font-size: 14px;
    line-height: 16px;
  }

  .main-menu__item--parent {
    padding-right: 14px;
  }
}

@media (max-width: $mobile-width) {
  .main-menu {
    position: relative;
    padding: 5px 0;
  }

  .main-menu__mobile-toggle {
    display: block;
    width: 32px;
    height: 32px;
    margin-left: auto;
    padding: 0;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    background-color: transparent;
    background-image: url("/img/icon-mobile-menu.svg");
    cursor: pointer;
  }

  .main-menu__block {
    display: none;

    &--open {
      @include dflex(nowrap, column, flex-start, center);
      position: absolute;
      top: 100%;
      left: -180px;
      width: 100vw;
      background-color: $header-line-color;
      z-index: 100;
    }
  }

  .main-menu__link {
    text-align: center;
    font-size: 13px;
    line-height: 15px;
  }

  .main-menu__submenu-link {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
  }

  .main-menu__item--parent .main-menu__link:focus ~ .main-menu__submenu,
  .main-menu__item--parent .main-menu__link:hover ~ .main-menu__submenu {
    display: none;
  }

  .main-menu__item--parent:focus-within .main-menu__submenu {
    display: none;
  }

  .main-menu__submenu--open {
    @include dflex(nowrap, column, flex-start, center);
  }

  .main-menu__item {
    @include dflex(wrap, row, center, center);
    width: 100%;

    &::after {
      display: none;
    }

    &--parent {
      padding-right: 0;
    }
  }

  .main-menu__item--parent .main-menu__link {
    // position: relative;
    // padding-right: 26px;
  }

  .main-menu__submenu-toggle {
    @include transition(transform);
    display: block;
    width: 26px;
    height: 26px;
    padding: 0;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
    background-image: url("/img/icon-menu-arrow.svg");
    background-color: transparent;
    transform: rotate(0);
    cursor: pointer;
  }

  .main-menu__item--open .main-menu__submenu-toggle {
    transform: rotate(180deg);
  }

  .main-menu__item--parent.main-menu__item--open .main-menu__submenu {
    @include dflex(nowrap, column, flex-start, center);
    position: static;
    left: 0;
    top: 100%;
    width: 100vw;
    min-width: 100vw;
    padding: 15px 10px;
    background-color: $bg-color-2;
  }
}
